<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
          
    <customErrors mode="Off" defaultRedirect="Default.aspx">
            <error statusCode="403" redirect="Default.aspx" />
            <error statusCode="404" redirect="Default.aspx" />
        </customErrors>
  </system.web>
</configuration>